body {
    margin: 0;
    background: #2b2b2b;
    font-family: Arial, sans-serif;
    color: #ddd;
    text-align: center;
}

canvas {
    display: block;
    margin: auto;
    border: 3px solid #111;
    background: #4a463f; /* muddy base */
}
